@import './../../../../../theme';

form.normal-form {
	margin: 10px;
}

.controls-container {
	display: flex;
	flex-direction: column;
	margin: 25px;
}

.controls-container>* {
	width: 100%;
}

.form-controls-actions {
	margin-top: 10px;
}
