<mat-card-header>
	<mat-card-title>{{ formTitle }}</mat-card-title>
	<mat-card-subtitle>Benutzerkonten, Rollen und Profile Verwalten</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
	<mat-icon>
		supervisor_account
	</mat-icon>
	<form [formGroup]="userForm" class="normal-form">
		<div class="controls-container">
			<input type="hidden" formControlName="$key">
			<mat-form-field>
				<input formControlName="name" matInput placeholder="Vorname" required>
			</mat-form-field>
			<mat-form-field>
				<input formControlName="lastname" matInput placeholder="Name" required>
			</mat-form-field>
			<mat-form-field>
				<input formControlName="email" matInput placeholder="E-Mail" required>
			</mat-form-field>
			<mat-form-field>
				<input formControlName="password" matInput placeholder="Kennwort" required>
			</mat-form-field>
			<mat-form-field>
				<input formControlName="confirmPassword" matInput placeholder="Kennwort Bestätigen" required>
			</mat-form-field>
			<mat-form-field>
				<mat-select formControlName="role" placeholder="Wähle eine Rolle aus" required>
					<mat-option *ngFor="let role of roles" value="role">
						{{ role }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</form>
</mat-card-content>
<mat-divider></mat-divider>
<mat-card-actions>
	<button mat-button color="primary" class="text-upper" type="submit" [disabled]="userForm.invalid"
		(click)="onSubmit()">Hinzufügen</button>
	<button mat-button class="text-upper" (click)="onCancel()">Abbrechen</button>
</mat-card-actions>
