@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,600,700');
@import './../../../theme';
//font-family: "Oswald";

.app-name {
	font-family: 'Oswald';
	font-weight: 700;
	font-size: 1.5em;
}

.app-title {
	margin-top: 7px;
	margin-left: 1px;
	font-family: 'Oswald';
	font-weight: 400;
}

.subheading-light {
	color: rgba(255, 255, 255, 0.7);
}

// theming
mat-nav-list [mat-list-item].active mat-icon[matListAvatar] {
	color: mat-color($primary);
}

p.mat-small {
	margin-left: 4px;
	margin-bottom: 4px;
}